
#home-body {
  color: white;
  height: 100vh;
  background-image: url("../images/bikini-bottom.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  background-position: center top;
}

#survey-body {
  width: 100%;
  background-image: url("../images/water-surface.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#main-jt {
  background: linear-gradient(
    to right,
    rgba(75, 65, 155, 1),
    rgba(75, 65, 155, 0.7)
  );
}

#survey-section {
  color: white;
  background-color: rgba(75, 65, 155, 0.75);
  text-shadow: 1px 1px 4px black;
}

.modal-body{
  width: 100%;
  background-image: url("../images/spongebob-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#friendImage {
  width: 100%;
}
